/*------ RESET ---------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: tan;
}

/*------ LAYOUT ---------*/

/*------ header ---------*/

header {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
}

.row-container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-logo a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.header-left img {
    height: 50px;
}

.btn-play {
    padding: 0px 20px;
    cursor: pointer; 
    border-radius: 10px solid orange;
    color: white;
    background-color: orange;
}

/*------ main ---------*/

 main {
    background-image: url('./img/simbolo-konoha.png');
    background-size: 10%;
    background-repeat: repeat;
    height: 100vh;
    overflow-y: auto;
}

#grid {
    background-color: transparent;
    background-image: url('./img/minato.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.square { 
    width: calc(100% / 10);
    height: calc(100% / 10);
    font-size: 15px;
    font-weight: 800;
    background-color: #FFB94D;
    color: rgb(172, 0, 0);
    border: 2px solid rgb(118, 74, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.easy {
    width: calc(100% / 10);
    height: calc(100% / 10);
}
.normal {
    width: calc(100% / 9);
    height: calc(100% / 9);

}
.hard {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.click-cell {
    background-color: yellow;
    background-image: url('./img/minato-kunai.png');
    background-size: cover;
    background-repeat: no-repeat;
}

/*------ footer ---------*/

footer {
    width: 100%;
    height: 80px;
    background-color: white;
    position: sticky;
}

footer .row-container {
    padding: 30px 0;
}

/*------ RESPONSIVE -----------*/

@media screen and (max-width: 500px) {
    #grid {
        border-radius: 2px;
        width: 200px;
        height: 200px;
    }
    .square {
        font-size: 9px;
    }
    .header-left img {
        height: 44px;
    }
    .text-logo a {
        font-size: 14px;
    }
    .header-right * {
        font-size: 8px;
    }
    .btn-play {
        padding: 0px 10px;
        cursor: pointer;
    }
}